@font-face {
    font-family: Pr;
    src: url(assets/Poppins-Regular.ttf);
}
@font-face {
    font-family: Pl;
    src: url(assets/Poppins-Light.ttf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    color: black;
    background-color: gray;
}
.mainBlock {
    border: none;
    background-color: rgb(255, 255, 255);
    max-width: 1500px;
    width: 100%;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Navigation Bar */
.navBar {
    border: none;
}
nav {
    /* border: orange solid 5px; */
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edenLogo img{
    /* border: green solid 5px; */
    margin: 0px 30px;
    height: 70%;
}
.anchorPoints {
    /* border: cyan solid 5px; */
    display: flex;
    flex-direction: row;
    align-items: end;
}
.anchorPoint {
    /* border: blue solid 5px; */
    list-style-type: none;
    margin: 15px 15px;
}
#maPresentation {
    color: rgb(107 191 189);
}
.anchorPoint a {
    text-decoration: none;
    font-family: Pr;
    color: black;
}


/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url("assets/bandeau.jpg");
    background-size: cover;

}
.banner p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Pr;
    color: white;
    font-size: 70px;
}


/* Presentation */
.myPrensentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;
}
.myPresentationText {
    width: 60%;
}
.name {
    font-family: Pr;
    font-size: 48px;
    height: 60px;
    
}
.lastName {
    font-family: Pr;
    font-size: 48px;
    height: 60px;
    margin-bottom: 20px;
}
.description {
    font-family: Pl;
    font-size: 14px;
}
.myPhoto {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    margin: 0 0 0 20%;
}
.myPhoto img {
    height: 100%;
    width: 100%;
}


/* Citation & Qualities */
.citationQualities {
    margin: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(107 191 189);
    
}
.citation {
    height: 500px;
    width: 60%;
    display: flex;
    align-items: center;
}
.citation p {
    font-family: Pr;
    font-size: 25px;
    color: white;
}
#qualities {
    background-color: rgb(247 247 247);
}
.qualities {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.quality {
    display: flex;
    justify-content: end;
    align-items: center;
}
.qualityText {
    font-family: Pr;
    font-size: 25px;
    margin: 0px 20px;
}
.qualityNum {
    font-family: Pr;
    font-size: 30px;
    color: rgb(107 191 189);
}


/* My Projects */
.myProjects {
    height: 600px;
}
#projectBlockLeft {
    display: flex;
    flex-direction: column;
    align-items: end;
}
#projectBlockRight {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.myProjectsTitle{
    display: flex;
    width: 60%;
}
.myProjectsTitle p{
    margin: 0px 0px;
    font-family: Pr;
    font-size: 48px;
}
.myProjectsBlocks {
    display: flex;
    justify-content: center;
}
.projectBlock {
    margin: 15px;
    height: 200px;
    width: 58%;
    background-color: black;
}


/* Parcours */
#myParcoursTitle {
    width: 60%;
    font-family: Pr;
    font-size: 48px;
}
.myParcours p {
    margin: 0;
}
.parcoursBlockParent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.parcoursBlock {
    height: 300px;
    width: 100%;
    margin: 50px 0;
    width: 60%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.parcoursDates {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parcoursDates p {
    padding-bottom: 20px ;
    font-family: Pr;
    font-size: 36px;
    color: rgb(107 191 189);
}
.parcoursTextBlock {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parcoursName {
    font-family: Pr;
    font-size: 28px;
}
.parcoursDescription {
    font-family: Pl;
    font-size: 18px;
}


/* Hobbys */
.myHobbys {
    background-color: rgb(247 247 247);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.myHobbysTitle p {
    font-family: Pr;
    font-size: 48px;
}
.myHobbysText {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
}
.myHobbysText p {
    width: 50%;
    text-align: center;
    font-family: Pl;
    font-size: 24;
}
.myHobbysBlocks {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myHobbysBlock {
    width: 23%;
    height: 110px;
    background-color: black;
}