@font-face {
    font-family: Pr;
    src: url(assets/Poppins-Regular.ttf);
}
@font-face {
    font-family: Pl;
    src: url(assets/Poppins-Light.ttf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    color: black;
    background-color: gray;
}
.mainBlock {
    border: none;
    background-color: white;
    max-width: 1500px;
    width: 100%;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Navigation Bar */
.navBar {
    border: none;
}
nav {
    /* border: orange solid 5px; */
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edenLogo img{
    /* border: green solid 5px; */
    margin: 0px 30px;
    height: 70%;
}
.anchorPoints {
    /* border: cyan solid 5px; */
    display: flex;
    flex-direction: row;
    align-items: end;
}
.anchorPoint {
    /* border: blue solid 5px; */
    list-style-type: none;
    margin: 15px 15px;
}
#maPresentation {
    color: rgb(107 191 189);
}
.anchorPoint a {
    text-decoration: none;
    font-family: Pr;
    color: black;
}


/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url("assets/bandeau.jpg");
    background-size: cover;

}
.banner p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Pr;
    color: white;
    font-size: 70px;
}


/* Presentation */
.myPrensentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;
}
.myPresentationText {
    width: 40%;
    padding: 0px 30px;
}
.name {
    font-family: Pr;
    font-size: 48px;
    height: 60px;
    
}
.lastName {
    font-family: Pr;
    font-size: 48px;
    height: 60px;
    margin-bottom: 20px;
}
.description {
    font-family: Pl;
    font-size: 14px;
}
.myPhoto {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.myPhoto img {
    height: 100%;
    width: 100%;
}


/* Citation & Qualities */
.citationQualities {
    margin: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(107 191 189);
    
}
.citation {
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
}
.citation p {
    font-family: Pr;
    font-size: 25px;
    color: white;
    text-align: center;
}
.qualities {
    background-color: rgb(247 247 247);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quality {
    display: flex;
    justify-content: center;
    align-items: center;
}
.qualityText {
    font-family: Pr;
    font-size: 25px;
    margin: 0px 20px;
}
.qualityNum {
    font-family: Pr;
    font-size: 30px;
    color: rgb(107 191 189);
}


/* My Projects */
.myProjectsTitle{
    display: flex;
    justify-content: center;
}
.myProjectsTitle p{
    margin: 0px 0px;
    font-family: Pr;
    font-size: 30px;
    width: 550px;
}
.myProjectsBlocks {
    display: flex;
    justify-content: center;
}
.projectBlock {
    margin: 15px;
    height: 125px;
    width: 250px;
    border: black solid 5px;
}
